body {
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-size: modular-scale(1);
  line-height: $heading-line-height;
  margin: 0 0 $small-spacing;
}

p {
  margin: 0 0 $small-spacing;
}

a {
  color: $action-color;
  text-decoration: none;
  transition: color $base-duration $base-timing;

  &:active,
  &:focus,
  &:hover {
    color: shade($action-color, 25%);
  }
}

hr {
  border-bottom: $base-border;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: $base-spacing 0;
}

strong {
  font-weight: 700;
}

// Headings classes
.h1 {font-size: modular-scale(4);}
.h2 {font-size: modular-scale(3);}
.h3 {font-size: modular-scale(2);}
.h4 {font-size: modular-scale(1);}
.h5 {font-size: modular-scale(0);}
.h6 {font-size: modular-scale(-1);}

blockquote {
  font-family: $font-stack-georgia;
  font-size: 1.2em;
  font-style: italic;
  border-left: 2px solid $color1;
}